{% extends 'base.html' %}

{% block dashboard %}
    <div class="mdl-layout__drawer">

        <span class="mdl-layout-title"><span class="sidebar-title">TVD</span></span>
        <nav class="mdl-navigation custom-style">
            <a class="mdl-navigation__link" href="">
                <i class="material-icons">dashboard</i>
                <div class="dashboard-icon-text">Dashboard</div>
            </a>
            <a class="mdl-navigation__link" href="">
                <i class="material-icons">people</i>
                <div class="dashboard-icon-text">Member</div>
            </a>
            <a class="mdl-navigation__link" href="">
                <i class="material-icons">money</i>
                <div class="dashboard-icon-text">Collection</div>
            </a>
            <a class="mdl-navigation__link" href="">
                <i class="material-icons">compare_arrows</i>
                <div class="dashboard-icon-text">Loan</div>
            </a>
            <a class="mdl-navigation__link" href="">
                <i class="material-icons">bar_chart</i>
                <div class="dashboard-icon-text">Report</div>
            </a>
            <a class="mdl-navigation__link" href="">
                <i class="material-icons">attach_money</i>
                <div class="dashboard-icon-text">Expenses</div>
            </a>
            <a class="mdl-navigation__link" href="">
                <i class="material-icons">settings</i>
                <div class="dashboard-icon-text">Configuration</div>
            </a>
            <hr>
            <a class="mdl-navigation__link" href="">
                <i class="material-icons">backup</i>
                <div class="dashboard-icon-text">Back up</div>
            </a>
            <a class="mdl-navigation__link" href="">
                <i class="material-icons">cached</i>
                <div class="dashboard-icon-text">Restore</div>
            </a>

        </nav>
    </div>
{% endblock dashboard %}

{% block content %}
{% endblock content %}